{% set node = nodes[inventory_hostname] %}

{% if node.role == 'leaf' %}
route-map LOCAL_ONLY deny 10
 description Drop BGP routes yet injected into IGP
 match tag 2047

route-map LOCAL_ONLY permit 20
 set metric 0
 set community 2047:{{ node.community }}
{% endif  %}

ip bgp-community new-format

router bgp {{ node.as }}
 bgp router-id {{ node.rid }}
 bgp log-neighbor-changes
{% if node.ebgp is defined %}
{%   if node.role == 'hub' %}
 bgp listen range 145.245.0.0/16 peer-group LEAF-SITES
 neighbor LEAF-SITES peer-group
 neighbor LEAF-SITES remote-as {{ common.regional_as }}
 neighbor LEAF-SITES description LEAF-SITES
 neighbor LEAF-SITES fall-over bfd
{%   else %}
{%     for p in node.ebgp %}
 neighbor {{ p.ip }} remote-as {{ p.as }}
 neighbor {{ p.ip }} local-as {{ common.regional_as }}
 neighbor {{ p.ip }} description {{ p.peer_name }}
 neighbor {{ p.ip }} fall-over bfd
{%     endfor %}
{%   endif %}
{% endif %}
{% if node.ibgp is defined %}
 neighbor RR peer-group
 neighbor RR remote-as {{ node.as }}
 neighbor RR update-source Loopback0
{%   for p in node.ibgp %}
 neighbor {{ p.ip }} peer-group RR
 neighbor {{ p.ip }} description {{ p.peer_name }}
{%   endfor %}
{% endif %}

 address-family ipv4
{% if node.ebgp is defined %}
{%   if node.role == 'hub' %}
  neighbor LEAF-SITES activate
  neighbor LEAF-SITES send-community both
  neighbor LEAF-SITES soft-reconfiguration inbound
{%   else %}
  redistribute connected
  redistribute ospf 1 route-map LOCAL_ONLY
{%     for p in node.ebgp %}
  neighbor {{ p.ip }} activate
  neighbor {{ p.ip }} send-community
  neighbor {{ p.ip }} soft-reconfiguration inbound
{%     endfor %}
{%   endif %}
{% endif %}
{% if node.ibgp is defined %}
  neighbor RR send-community both
  neighbor RR route-reflector-client
  neighbor RR soft-reconfiguration inbound
{%   for p in node.ibgp %}
  neighbor {{ p.ip }} activate
{%   endfor %}
{% endif %}
 exit-address-family