{% set node = nodes[inventory_hostname] %}
<config xmlns:xc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces" xmlns:ip="urn:ietf:params:xml:ns:yang:ietf-ip">
{% for port,param in node.interfaces.iteritems() %}
    <interface>
      <name>{{ port }}</name>
      <description xc:operation="create">TO_{{ param.peer }}</description>
      <enabled>true</enabled>
      <ip:ipv4>
        <ip:address>
          <ip:ip xc:operation="create">{{ param.ip }}</ip:ip>
          <ip:prefix-length xc:operation="create">{{ "30" if param.use.startswith("WAN") else "29" }}</ip:prefix-length>
          <ip:netmask xc:operation="create">{{ "255.255.255.252" if param.use.startswith("WAN") else "255.255.255.248" }}</ip:netmask>
        </ip:address>
      </ip:ipv4>
    </interface>
{% endfor %}
  </interfaces>
</config>
